In [56]:
import pandas as pd
dub1 = pd.read_csv("tweeter_dub1.csv", delimiter=";")
dub2 = pd.read_csv("tweeter_dub2.csv", delimiter=";")

positive_words = '''
хороший
спасибо
радостный
вкусный
забавный
милый
уютный
веселый
мелодичный
свободный
ласковый
впечатляющий
талантливый
'''

negative_words = '''
ненавистный
безответственный
дикий
наказание
жестокость
убийство
беда
виновный
варварство
грустно
печально
плохой
фейк
'''

def rm_empty(lst):
    return [ x for x in lst.split("\n") if x ]

# positive_words = positive_words.split("\n")
# positive_words = list(filter(None, positive_words))
positive_words = rm_empty(positive_words)
negative_words = rm_empty(negative_words)

In [57]:
dub1

,Автор поста,Вид автора поста,текст поста,дата поста
0,Никита,Заяц,Вчера в лесу прошел забавный конкурс на лучшее...,26/8/2024
1,Алиса,Лис,"Сегодня встретил в лесу стайку воробьев, котор...",2/8/2024
2,Костя,Воробей,"Сегодня встретил в лесу воробьев, радостно чир...",2/6/2024
3,Мария,Лис,Утром услышал звуки выстрелов охотников. Пора ...,4/8/2024
4,Ольга,Енот,Утром наблюдал за игрой белок на поляне. Они б...,19/7/2024
...,...,...,...,...
254,Мария,Волк,Сегодня в лесу заметил странное свечение. Каже...,10/6/2024
255,Семен,Олень,Слышал шепот деревьев от ветра. Лучшая колыбел...,26/8/2024
256,Егор,Заяц,"Сегодня встретил в лесу ручей, бурлящий своими...",28/7/2024
257,Марина,Олень,"На прогулке обнаружил место, где раскинулись м...",9/8/2024
258,Ольга,Олень,"Сегодня встретил в лесу семью оленей, пасущихс...",30/8/2024

In [48]:
dub2

,Автор поста,Вид автора поста,текст поста,дата поста
0,Дмитрий,Синица,"На прогулке обнаружил поляну, покрытую цветами...",29/8/2024
1,Алиса,Лис,"Сегодня в лесу встретил странную стрекозу, кот...",21/8/2024
2,Ольга,Белка,"Эти наглые люди считают, что лес принадлежит и...",23/8/2024
3,Мария,Лис,"На утренней зарядке заметил, что деревья начал...",11/6/2024
4,Ольга,Заяц,"Сегодня встретил в лесу одинокого сокола, сидя...",6/7/2024
...,...,...,...,...
254,Алиса,Олень,"Сегодня встретил в лесу семью белок, играющих ...",20/7/2024
255,Костя,Олень,"Сегодня встретил в лесу стаю белок, играющих и...",20/6/2024
256,Марина,Медведь,Наблюдал за игрой лисы с ее детенышами. Они бы...,10/7/2024
257,Семен,Сорока,"Сегодня встретил в лесу наглого туриста, котор...",29/8/2024
258,Семен,Волк,"Сегодня в лесу наткнулся на пустую бутылку, ос...",25/6/2024

In [49]:
def get_tonality(text):
    tonality = 0
    words = text.split()
    for w in words:
        if w in positive_words:
            tonality += 1
        if w in negative_words:
            tonality -= 1
    return tonality

# 1. Определить, на каком из дубов в среднем более добрые посты;

In [50]:
dub1["тональность"] = dub1["текст поста"].apply(lambda x: get_tonality(x))
dub2["тональность"] = dub2["текст поста"].apply(lambda x: get_tonality(x))

In [51]:
dub1

,Автор поста,Вид автора поста,текст поста,дата поста,тональность
0,Никита,Заяц,Вчера в лесу прошел забавный конкурс на лучшее...,26/8/2024,1
1,Алиса,Лис,"Сегодня встретил в лесу стайку воробьев, котор...",2/8/2024,0
2,Костя,Воробей,"Сегодня встретил в лесу воробьев, радостно чир...",2/6/2024,0
3,Мария,Лис,Утром услышал звуки выстрелов охотников. Пора ...,4/8/2024,0
4,Ольга,Енот,Утром наблюдал за игрой белок на поляне. Они б...,19/7/2024,0
...,...,...,...,...,...
254,Мария,Волк,Сегодня в лесу заметил странное свечение. Каже...,10/6/2024,0
255,Семен,Олень,Слышал шепот деревьев от ветра. Лучшая колыбел...,26/8/2024,0
256,Егор,Заяц,"Сегодня встретил в лесу ручей, бурлящий своими...",28/7/2024,0
257,Марина,Олень,"На прогулке обнаружил место, где раскинулись м...",9/8/2024,0
258,Ольга,Олень,"Сегодня встретил в лесу семью оленей, пасущихс...",30/8/2024,0

In [52]:
dub2

,Автор поста,Вид автора поста,текст поста,дата поста,тональность
0,Дмитрий,Синица,"На прогулке обнаружил поляну, покрытую цветами...",29/8/2024,0
1,Алиса,Лис,"Сегодня в лесу встретил странную стрекозу, кот...",21/8/2024,0
2,Ольга,Белка,"Эти наглые люди считают, что лес принадлежит и...",23/8/2024,0
3,Мария,Лис,"На утренней зарядке заметил, что деревья начал...",11/6/2024,0
4,Ольга,Заяц,"Сегодня встретил в лесу одинокого сокола, сидя...",6/7/2024,0
...,...,...,...,...,...
254,Алиса,Олень,"Сегодня встретил в лесу семью белок, играющих ...",20/7/2024,0
255,Костя,Олень,"Сегодня встретил в лесу стаю белок, играющих и...",20/6/2024,0
256,Марина,Медведь,Наблюдал за игрой лисы с ее детенышами. Они бы...,10/7/2024,0
257,Семен,Сорока,"Сегодня встретил в лесу наглого туриста, котор...",29/8/2024,0
258,Семен,Волк,"Сегодня в лесу наткнулся на пустую бутылку, ос...",25/6/2024,0

In [53]:
dub1["тональность"].mean()

0.08494208494208494

In [54]:
dub2["тональность"].mean()

0.03861003861003861

## Вывод: на дубе №1 в среднем более добрые посты

# 2. Для дуба, который в среднем менее добрый, определить количество дней, в которые его посты в среднем добрее

In [33]:
df1 = dub1[["дата поста","тональность"]].groupby(["дата поста"]).agg("sum")
df2 = dub2[["дата поста","тональность"]].groupby(["дата поста"]).agg("sum")
#dfc = pd.concat([df1, df2], axis=1,keys=["dub1","dub2"])
dfc = df1.join(df2, lsuffix='_дуб1', rsuffix='_дуб2')
dfc["is_more"] = dfc["тональность_дуб1"] - dfc["тональность_дуб2"]
days_qty = len(dfc.query("is_more > 0"))
days_qty

17

# 3. Определить самый добрый вид животных для каждого из дубов и в целом.

In [43]:
df1_kind = dub1[["Вид автора поста","тональность"]].groupby(["Вид автора поста"]).agg("sum").sort_values(by="тональность", ascending=False)
df1_kind

                  тональность
Вид автора поста
Заяц                        5
Белка                       2
Воробей                     2
Ворон                       2
Енот                        2
Лис                         2
Медведь                     2
Сорока                      2
Еж                          1
Олень                       1
Синица                      1
Волк                        0
Детял                       0

In [44]:
df2_kind = dub2[["Вид автора поста","тональность"]].groupby(["Вид автора поста"]).agg("sum").sort_values(by="тональность", ascending=False)
df2_kind

                  тональность
Вид автора поста
Детял                       3
Волк                        2
Ворон                       2
Енот                        1
Лис                         1
Синица                      1
Сорока                      1
Воробей                     0
Еж                          0
Заяц                        0
Медведь                     0
Олень                       0
Белка                      -1

Самый добрый вид животных для каждого из дубов:

Дуб1 - Заяц

Дуб2 - Дятел

В целом - заяц